<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modal</title>
    <link rel="stylesheet" th:href ="@{/css/color-palet.css}">
    <link rel="stylesheet" th:href ="@{/css/modals.css}">
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/modals.js}"></script>
</head>
<body>

<div th:fragment="modal1">
    <div class="modal-content" id="modal1">
        <div class="modal-background">
        <button class="close-button" data-modal-id="modal1">&times;</button>
        <h2>Mostrar CVU/Alias</h2>
        <p>CVU: </p>
        <p>Alias: </p>
        </div>
    </div>
</div>

<div th:fragment="modal2">
    <div class="modal-content" id="modal2">
        <div class="modal-background">
            <button class="close-button" data-modal-id="modal2">&times;</button>
            <h2>Ingresar dinero</h2>
            <p>Ingrese un Balance</p>
            <input type="text" id="ingresar-dinero" name="ingresar-dinero">
            <button class="action-button">Ingresar</button>
        </div>
    </div>
</div>

<div th:fragment="modaltransferir">
    <div class="modal-content" id="modaltransferir">
        <div class="modal-background">
            <button class="close-button" data-modal-id="modaltransferir">&times;</button>
            <h2>Transferir dinero</h2>

            <div id="transferencia-ingresar">
                <p>Ingrese el <strong>Alias o CVU</strong> a transferir</p>
                <input type="text" id="aliasCvuInput" name="aliasCvuInput">
                <button class="action-button" onclick="">Confirmar</button>
            </div>

            <div id="transferencia-mostrar">
                <p>Datos del destinatario</p>
                <p><strong>CVU:</strong>  </p>
                <p><strong>Alias:</strong>  </p>
                <p><strong>Nombre:</strong> </p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalcalculadora">
    <div class="modal-content" id="modalcalculadora">
        <div class="modal-background">
            <button class="close-button" data-modal-id="modalcalculadora">&times;</button>
            <h2>Calculadora de impuestos</h2>
            <p>Seleccione la moneda:</p>
            <button class="button-pesos" data-currency="ARS">Pesos (ARS)</button>
            <button class="button-dolares" data-currency="USD">Dólares (USD)</button>
        </div>
    </div>
</div>




<div th:fragment="modalperfil">
    <div class="modal-content" id="modalperfil">
        <div class="modal-background">
            <button class="close-button" data-modal-id="modalperfil">&times;</button>
            <h2>Perfil de usuario </h2>
            <br>Bienvenido a tu perfil</br>
            <br><strong>Nombre Completo:</strong> <span id="profile-name" th:text="${username}"></span></br>
            <br><strong>Correo:</strong> <span id="profile-email">Cargando...</span></br>
            <br><strong>Telefono:</strong> <span id="profile-phone">Cargando...</span></br>
            <p>
                <strong>Nombre de usuario:</strong>
                <span id="profile-username-display" style="display: inline-flex; align-items: center;">cargando...</span>
                <button id="edit-username-btn" title="Editar nombre de usuario">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="text" id="profile-username-input" class="hidden" maxlength="25" />
            </p>

            <p>
                <strong>Alias:</strong>
                <span id="profile-alias-display" style="display: inline-flex; align-items: center;">cargando...</span>
                <button id="edit-alias-btn" title="Editar alias">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <input type="text" id="profile-alias-input" class="hidden" maxlength="25" />
            </p>
        </div>
    </div>
</div>

</body>
</html>